.nav-link {
  @apply block px-2 py-3 mr-2 text-white no-underline;

  transition: color .25s ease-in-out;

  &:hover {
    @apply text-orange;
  }
}

.hero {
  min-height: 60vh;
  background: url("../../static/world.svg") no-repeat top;
  background-size: auto 60vh;
}

.section {
  @apply mb-16 px-2;

  .section {
    @apply px-0;

  }
}


.btn {
  @apply border-0 rounded-full text-blue py-3 px-4 no-underline block bg-white;

  transition: background-color .25s ease-in-out;

  &:hover {

  }

  &.btn-orange {
    @apply bg-orange;

    &:hover {
      @apply bg-orange-lighter text-blue;
    }
  }
}

.tilt {
  transform: skew(-3deg,.5deg) translateZ(0);
}

.untilt {
  transform: skew(3deg,.5deg) translateZ(0);
}

.typed-cursor {
  @apply .font-hairline;
}

.main-menu {
  .mobile-menu-trigger {
    position: relative;
    padding-left: 20px;
    margin-left: 30px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 18px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 4px 0 4px;
      border-color: white transparent transparent transparent;
      transition: transform .125s ease-in-out, border-top-color .25s ease-in-out;
    }

    &:hover {
      &::after {
        border-top-color: config('colors.orange');
      }
    }
  }

  &.open {
    .mobile-menu-trigger::after {
      transform: rotate(180deg)
    }
  }

}

