.nav-link {
  @apply block px-2 py-3 mr-2 text-white no-underline;

  transition: color .25s ease-in-out;

  &:hover {
    @apply text-orange;
  }
}

.hero {
  min-height: 60vh;
  background: url("https://savetheinternet.info/build/images/world.b6cd38ae.svg") no-repeat top;
  background-size: auto 60vh;
}

.section {
  @apply mb-16 px-2;

  .section {
    @apply px-0;

  }
}


.btn {
  @apply border-0 rounded-full text-blue py-3 px-4 no-underline block bg-white;

  transition: background-color .25s ease-in-out;

  &:hover {

  }

  &.btn-orange {
    @apply bg-orange;

    &:hover {
      @apply bg-orange-lighter text-blue;
    }
  }
}