.language-picker {
  menu {
    right: 0;
    left: 0;
  }

  & > a.lang-trigger::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #ffbf00 transparent transparent transparent;
  }
}