
    <div class="notice p-4 bg-blue-dark text-center text-orange text-sm">
        <p class="mb-0">
            We at savetheinternet.info distance ourselves from any illegal activities! We neither support illegal activities, nor do we commission them.
        </p>
    </div>
    <footer class="p-4 bg-blue-darker shadow-lg flex flex-wrap justify-between items-center text-sm">
        <p class="mb-0 w-full mb-6 lg:text-left lg:mb-0 lg:flex-1 text-center">
            © 2018 - <a href="savetheinternet.info">savetheinternet.info</a>
        </p>
        <nav class="w-full lg:mb-0 lg:flex-1">
            <ul class="list-reset flex flex-wrap justify-around xl:justify-end">
                <li><a class="ml-3 mb-3 md:mb-0 block" href="#">Gallery</a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="#">About</a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="#">About Us</a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="#">Imprint</a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="#">Privacy Policy</a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="#">GitHub</a></li>
            </ul>
        </nav>
    </footer>
    <script type="text/javascript" src="<%= assets['/assets/main.js'] %>"></script>
    </body>
</html>