.contact-your-mep {

  .custom-dropdown {
    position: relative;
    font-size: 1.2em;
    vertical-align: middle;
    
    select {
      position: relative;
      background-color: #ffbf00;
      color: #000;
      font-size: inherit;
      padding: .5em;
      padding-right: 2.5em;
      border: 0;
      border-radius: 3px;
      text-indent: .01px;
      text-overflow: "";
      -webkit-appearance: button;
      -moz-appearance: button;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      @apply z-10;
    }

    &::before {
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
      background-color: rgba(0,0,0,.15);
    }

    &::after {
      content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
      color: rgba(0,0,0,.4);
    }
  }

  .mep-grid {
    .mep-item, .grid-sizer {
      width: 48%;
      display: block;
    }
  }

  .mep-main {
    background-size: 30px 30px;
  }

  figure {

    a.open-overlay {
      @apply cursor-pointer;
    }

    figcaption {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scale(0);
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
      opacity: 0;

      span.close-overlay {
        @apply pin-r pin-t absolute text-white p-1 mt-1 mr-1 cursor-pointer text-xl;
        transition: color .25s ease-in-out;
        &:hover {
          @apply text-orange;
        }
      }

      a {
        padding: 1.3rem 1.6rem;
        transition: color .25s ease-in-out;
        @apply rounded-full bg-blue-lighter text-blue m-2 text-5xl;

        &:hover {
          @apply text-blue-darker;
        }
      }
    }

    &.open figcaption {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@media screen and (max-width: config('screens.md')) {
  .contact-your-mep {
    .mep-grid {
      .mep-item, .grid-sizer {
        width: 100%;
      }
    }
  }
}