@import "~tailwindcss/preflight";
@import "~tailwindcss/components";

$fa-font-path: '../fonts';
@import "~font-awesome/scss/font-awesome";

@import "shared";
@import "gallery";
@import "mep";

@import "~tailwindcss/utilities";