<%- include('layout/header'); -%>
<div class="section container">
    <h1 class="mb-6">
        Blackout
    </h1>
    <p>
        <%- __('blackout_main_text') %><a href="/">savetheinternet.info</a>
    </p>
</div>
<%- include('layout/footer'); -%>