<!doctype html>
<html class="h-full" xmlns="http://www.w3.org/1999/html" lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map | Save the Internet</title>
    <link rel="stylesheet" href="<%= assets['/assets/main.css'] %>" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <style>
        .leaflet-popup-content p {
            margin: 0;
        }
        .leaflet-popup-content-wrapper {
            padding: 1px;
            text-align: left;
            border-radius: 0;
        }
    </style>
    <base href="/">
</head>

<body class="h-full">
    <div id="demomap" class="h-full w-full"></div>
    <script type="text/javascript" src="<%= assets['/assets/demomap.js'] %>"></script>
    <script type="text/javascript" src="<%= assets['/assets/bundle.js'] %>"></script>
</body>
</html>