<%- include('layout/header'); -%>
<div class="section container">
    <h1><%= __('gallery_title') %></h1>
    <% locals.images.forEach(i => { %>
        <img src="<%= i.paths.thumbnail %>" />
    <% }) %>
</div>
<%- include('layout/footer'); -%>
