<%- include('layout/header'); -%>
<div class="section container">
  <h1>
    <%= __('imprint_link') %>
  </h1>
  <div class="section">
    <ul class="list-reset p- mb-4">
      <li class="mb-2">
        Savetheinternet<span class="text-blue-lighter">.</span
        ><span class="text-orange">info</span>
      </li>
      <li class="mb-2">Dominic Kis</li>
      <li class="mb-2">Sofienstraße 22</li>
      <li class="mb-2">76461 Muggensturm</li>
      <li class="mb-2">Germany</li>
    </ul>
    <ul class="list-reset mb-4">
      <li class="mb-2">E-Mail: info@savetheinternet.info</li>
    </ul>
    <p>
      Platform of the European Commission for online dispute resolution:
      <a target="_blank" href="http://ec.europa.eu/consumers/odr"
        >http://ec.europa.eu/consumers/odr</a
      >
    </p>
    <p>
      We are neither obligated nor willing to take part in a Dispute Resolution
      before Independent Consumer Arbitration Service.
    </p>
  </div>
</div>
<%- include('layout/footer'); -%>
