<%- include('layout/header'); -%>
<div class="container section article-13">
    <h2 class="text-5xl">Artikel <span class="text-orange">13</span></h2>
    <h3>What will happen on June 20th?</h3>

    <p class="mt-3 md:w-2/3 lg:w-1/2">
        On June 20th, the Legal Committee of the EU Parliament votes on the proposed <span class="text-orange">Copyright Directive</span>. The only ones who can stop this fatal law now are the Members of the European Parliament(MEP)!
    </p>
</div>
<div class="container section effects">
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/3 mb-4 md:mb-0 pr-2 flex align-center justify-center">
            <img src="https://savetheinternet.info/build/static/reddit.png" alt="">
        </div>
        <div class="w-full md:w-1/2 flex flex-col justify-center">
            <h3>Dictatorship of error-prone <span class="text-blue-lighter">algorithms</span></h3>
            <p>
                Upload filters on sites like Youtube, Facebook etc. have one thing in common: They will never work as accurate as a real human. As a consequence, copyrighted content that is used under fair use laws, gets deleted. This "tendancy" could be abused to filter content that's not in line with the companies values and interests.
            </p>
        </div>
    </div>
    <div class="flex flex-wrap mt-16">
        <div class="w-full md:w-1/3 mb-4 md:mb-0 pr-2 flex align-center justify-center">
            <img src="https://savetheinternet.info/build/static/link.png" alt="">
        </div>
        <div class="w-full md:w-1/2 flex flex-col justify-center">
            <h3>No more <span class="text-blue-lighter">links</span></h3>
            <p>
                In the future, press publishers will be required to bill for any links someone makes to their content. News portals are thus nullified. No to the link tax!
            </p>
        </div>
    </div>
    <div class="flex flex-wrap mt-16">
        <div class="w-full md:w-1/3 mb-4 md:mb-0 pr-2 flex align-center justify-center">
            <img src="https://savetheinternet.info/build/static/memes.png" alt="">
        </div>
        <div class="w-full md:w-1/2 flex flex-col justify-center">
            <h3>No more <span class="text-blue-lighter">memes</span></h3>
            <p>
                The upload filters also mean the death of the meme culture. Copyrighted material under the terms of free use can no longer be distributed without paid licenses. Save our meme culture!
            </p>
        </div>
    </div>
</div>
<div class="container section twitter-feed">
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 pr-4">
            <h3>Hear what others are saying</h3>
            <p>
                This censoring could flip the cultural norms of the internet, as we know them, upside-down. Upload-blocks in combination with error-prone algorithms potentially means that even something as simple as posting links, could soon become a problem. This will be patently obvious on sites like Twitter, Facebook, 9GAG etc. To be precise - all your favorite websites. Because Article 11 and 13 would mean that links or citations could be redacted, or stopped from being uploaded in the first place.
            </p>
        </div>
        <div class="w-full md:w-1/2 pl-4 flex justify-center flex-col items-center">
            <p>TWITTER FEED HERE</p>
        </div>
    </div>
</div>
<div class="container section countdown">
    <div class="flex flex-wrap">
        <div class="w-full md:w-2/3 pr-4">
            <h3>Time is running out</h3>
            <p>
                This censoring could flip the cultural norms of the internet, as we know them, upside-down. Upload-blocks in combination with error-prone algorithms potentially means that even something as simple as posting links, could soon become a problem. This will be patently obvious on sites like Twitter, Facebook, 9GAG etc. To be precise - all your favorite websites. Because Article 11 and 13 would mean that links or citations could be redacted, or stopped from being uploaded in the first place.
            </p>
        </div>
        <div class="w-full md:w-1/3 pl-4 flex justify-center flex-col items-center">
            Countdown here!
        </div>
    </div>
</div>
<div class="container section what-do">
    <h2 class="mb-4">What can you do?</h2>
    <div class="section">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/5 mb-3 md:mb-0 md:pr-4 flex items-center justify-center">
                <img class="w-24" src="https://savetheinternet.info/build/static/Share.svg" alt="">
            </div>
            <div class="w-full md:w-3/5">
                <h3>Talk to others about it! Share this page!</h3>
                <p>Only if as many people as possible know we can put pressure on Parliament. Sign our petition!&nbsp;<a href="https://www.change.org/p/european-parliament-stop-the-censorship-machinery-save-the-internet?utm_source=share_petition&amp;utm_medium=copylink&amp;utm_campaign=share_petition" class="highlight">change.org</a></p>
                <h3>Need something to share?</h3>
                <p><a href="/en_GB/gallery">In our gallery</a> you can find the content you're looking for!
                </p>

            </div>
        </div>
    </div>
    <div class="section">
        <div class="flex flex-wrap flex-col-reverse md:flex-row">
            <div class="ml-auto w-full md:w-3/5 md:pr-4">
                <h3>Write to your deputy!</h3>
                <p>
                    You can contact your Deputy directly to show him or her your displeasure with the draft law. Personal mails or conversations via telephone often have a huge impact because people with whom you talk directly are open to new opinions and more willingly to be re-tuned.
                </p>
                <p>
                    You can send an e-mail to your MEP to alert him that you do not agree with the bill. All necessary mail addresses and a ready-made message can be found here:
                </p>
                <select class="bg-orange p-4 border-none rounded-full">
                    <option value="-">Select country</option>
                </select>
            </div>
            <div class="w-full md:w-1/5 mb-3 md:mb-0 md:pl-4 flex items-center justify-center">
                <img class="w-24" src="https://savetheinternet.info/build/static/Mail.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container section voxel">
    <div class="text-center">
        <img class="w-full max-w-sm h-auto" src="https://savetheinternet.info/build/static/voxel.png" alt="">
    </div>
</div>
<div class="container section details">
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 md:pr-4">
            <h3>Article 13 in detail</h3>
            <p>
                Article 13 requires in practice that almost all internet platforms install a "filter robot" which automatically checks all uploaded content. This unduly restricts freedom of expression before it can be used. Content censorship decision is left to error-prone and oversensitive algorithms (programmed to "play it safe" and erase anything that creates a risk for the platform in case of doubt).
            </p>
        </div>
        <div class="w-full md:w-1/2 md:pl-4">
            <h3>Article 11 in detail</h3>
            <p>
                In ancillary copyright law (Article 11), it is stipulated that the content of certain information providers will in future be subject to specific media law. This means that already quoted texts could be declared a copyright infringement.
                A large part of the providers of news on the net will be affected by this, since the use of external links will be restricted or paid.
            </p>
        </div>
    </div>
</div>
<div class="container section details">
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 md:pr-4 mb-3 md:mb-0 flex justify-center items-center">
            <img class="w-64" src="https://savetheinternet.info/build/static/scroll.png" alt="">
        </div>
        <div class="w-full md:w-1/2 md:pl-4 flex flex-col justify-center">
            <h3>
                Article 11 not only affects the internet</h3>
            <p>
                Research and progress are also suffering from Article 11. In the future, users, such as independent researchers, journalists, individuals and various companies, will be denied text and data mining. This has a slowing effect on various discoveries of public interest.
            </p>
        </div>
    </div>
</div>
<div class="container section call-to-action">
    <div class="m-auto w-full md:w-4/5 flex flex-wrap">
        <div class="w-full md:w-3/5 md:pr-4">
            <h2>Censorship? Without me!</h2>
            <p>
                Support us with your voice! Only together we are strong! That's why we've made a petition to tackle Articles 11 and 13!
            </p>
        </div>
        <div class="w-full md:w-1/5 md:pl-4 flex items-center justify-center">
            <a class="mt-3 md:mt-0 btn btn-orange inline-block" href="https://www.change.org/p/european-parliament-stop-the-censorship-machinery-save-the-internet?utm_source=share_petition&utm_medium=copylink&utm_campaign=share_petition">
                Visit the petition
            </a>
        </div>
    </div>
</div>
<%- include('layout/footer') -%>