<%- include('layout/header'); -%>
<div class="section container">
    <h1 class="mb-8">
        <%= __('videos_title') %>
    </h1>
    <p>
        <%= __('videos_text') %>
    </p>

    <iframe width="560" height="315" class="mt-16" src="https://www.youtube-nocookie.com/embed/SpUoLn0k5v4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
    <iframe width="560" height="315" class="mt-16" src="https://www.youtube-nocookie.com/embed/SpUoLn0k5v4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
    <iframe width="560" height="315" class="mt-16" src="https://www.youtube-nocookie.com/embed/SpUoLn0k5v4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<%- include('layout/footer'); -%>